* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    height: 100svh;

    display: flex;
    flex-direction: column;
    
}

.page-wrapper header {
    height: 5rem;

    background-color: #252525;
}

.page-wrapper main {
    background-color: #eee;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page-wrapper footer {
    display: flex;
    flex-direction: row-reverse;
    height: 10rem;

    background-color: #5d5b5b;
}